* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #bfadc1;
}

#map {
  top: -1em;
  height: 100vh;
  width: 100vw;
}

#header {
  display: flex;
  height: 12vh;
  width: 100vw;
  /* background-color: peachpuff; */
  background-color: rgb(78, 52, 90);
  border-radius: 0 0 1em 1em;
  position: relative;
  z-index: 2;
}

#header #logo {
  display: flex;
  position: relative;
  z-index: 4;
  /* top: -2em; */
  /* right: -5em; */
  left: -4.5em;
  bottom: -0.222em;
  font-size: 4em;
  /* font: ; */
  color: rgb(78, 52, 90);
  right: 3em;
}

#logoImage {
  top: 1em;
  height: 5em;
  width: 25em;
  position: relative;
  z-index: 3;
  left: 5em;
  border-radius: 1em 1em 1em 1em;
}
